# Ignore Python virtual environment
venv/
env/
.venv/

# Python cached files
__pycache__/
*.py[cod]
*.pyo
.pytest_cache/

# VSCode settings
.vscode/

# Environment files
*.env

# PyCharm
.idea/

# Byte-compiled / cache
*.log

# Generated outputs
data/
results/

# OS files
.DS_Store
Thumbs.db
